# Title

## 1. Introduction

### Below are just instructions to be deleted after finish
*Begin by providing some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal.*

*Clearly state the question you will try to answer with your project. Your question should involve one or more random variables of interest, spread across two or more categories that are interesting to compare. For example, you could consider the annual maxima river flow at two different locations along a river, or perhaps gender diversity at different universities. Of the response variable, identify one location parameter (mean, median, quantile, etc.) and one scale parameter (standard deviation, inter-quartile range, etc.) that would be useful in answering your question. Justify your choices.*

*Identify and describe the dataset that will be used to answer the question. Remember, this dataset is allowed to contain more variables than you need – feel free to drop them!*

*Also, be sure to frame your question/objectives in terms of what is already known in the literature. Be sure to include at least two scientific publications that can help frame your study (you will need to include these in the References section). We have no specific citation style requirements, but be consistent.*

### 1.1 Background information on the topic

Text

### 1.2 The Question 

Text

### 1.3 The Dataset

Text

### 1.4 The Literature 

Text

## 2. Preliminary Results

### 2.0 Libraries and Packages

In [2]:
library(tidyverse)
library(readr)
library(tidyr)
library(dbplyr)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.6     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.1.1     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attaching package: 'dbplyr'


The following objects are masked from 'package:dplyr':

    ident, sql

### 2.1 Read the data into R

In [23]:
df <- read_csv("../data/crdt-data.csv")

Rows: 5320 Columns: 54

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr  (1): State
dbl (53): Date, Cases_Total, Cases_White, Cases_Black, Cases_Latinx, Cases_A...


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [7]:
head(df)

  Date     State Cases_Total Cases_White Cases_Black Cases_Latinx Cases_Asian
1 20210307 AK      59332      18300        1499           NA        2447
2 20210307 AL     499819     160347       82790           NA        2273
3 20210307 AR     324818     207596       50842           NA        2913
4 20210307 AS         NA         NA          NA           NA          NA
5 20210307 AZ     826454     308453       25775       244539       11921
6 20210307 CA    3501394     546630      111279      1509103      186562
  Cases_AIAN Cases_NHPI Cases_Multiracial ⋯ Tests_Latinx Tests_Asian Tests_AIAN
1 12238       1508       4453             ⋯      NA           NA        NA
2    NA         NA         NA             ⋯      NA           NA        NA
3  1070       3358       1804             ⋯      NA           NA        NA
4    NA         NA         NA             ⋯      NA           NA        NA
5 40707         NA         NA             ⋯      NA           NA        NA
6  9025      15281      42824             ⋯ 9444459      3980518     98894
  Tests_NHPI Tests_Multiracial Tests_Other Tests_Unknown
1     NA        NA                  NA           NA
2     NA        NA                  NA           NA
3     NA        NA                  NA           NA
4     NA        NA                  NA           NA
5     NA        NA                  NA           NA
6 222513     74171             6354689     18567612
  Tests_Ethnicity_Hispanic Tests_Ethnicity_NonHispanic Tests_Ethnicity_Unknown
1      NA                        NA                          NA
2      NA                        NA                          NA
3      NA                        NA                          NA
4      NA                        NA                          NA
5      NA                        NA                          NA
6 9444459                  21633943                    18567612

In [6]:
glimpse (df)

Rows: 5,320
Columns: 54
$ Date                         <dbl> 20210307, 20210307, 20210307, 20210307, 2…
$ State                        <chr> "AK", "AL", "AR", "AS", "AZ", "CA", "CO",…
$ Cases_Total                  <dbl> 59332, 499819, 324818, NA, 826454, 350139…
$ Cases_White                  <dbl> 18300, 160347, 207596, NA, 308453, 546630…
$ Cases_Black                  <dbl> 1499, 82790, 50842, NA, 25775, 111279, 12…
$ Cases_Latinx                 <dbl> NA, NA, NA, NA, 244539, 1509103, 119224, …
$ Cases_Asian                  <dbl> 2447, 2273, 2913, NA, 11921, 186562, 6406…
$ Cases_AIAN                   <dbl> 12238, NA, 1070, NA, 40707, 9025, 2527, 3…
$ Cases_NHPI                   <dbl> 1508, NA, 3358, NA, NA, 15281, 1264, NA, …
$ Cases_Multiracial            <dbl> 4453, NA, 1804, NA, NA, 42824, 6580, 1764…
$ Cases_Other                  <dbl> 7130, 38000, 16491, NA, 46964, 304477, 33…
$ Cases_Unknown                <dbl> 11757, 216409, 40744, NA, 148095, 776213,…
$ Cases_Ethnicity_Hispanic     <dbl> 3197, 12312, 34332, NA, 244539, 1509103, …
$ Cases_Ethnicity_NonHispanic  <dbl> 29625, 167064, 290486, NA, 433820, 121607…
$ Cases_Ethnicity_Unknown      <dbl> 26510, 320443, 0, NA, 148095, 776213, 102…
$ Deaths_Total                 <dbl> 305, 10148, 5319, NA, 16328, 54124, 5986,…
$ Deaths_White                 <dbl> 127, 4730, 4171, NA, 8066, 16586, 3869, 5…
$ Deaths_Black                 <dbl> 9, 2223, 784, NA, 433, 3275, 191, 906, 77…
$ Deaths_Latinx                <dbl> NA, NA, NA, NA, 4684, 24402, 1204, 782, 1…
$ Deaths_Asian                 <dbl> 29, 24, 36, NA, 220, 6105, 115, 83, 14, 1…
$ Deaths_AIAN                  <dbl> 111, NA, 18, NA, 1361, 184, 37, 3, NA, NA…
$ Deaths_NHPI                  <dbl> 17, NA, 56, NA, NA, 322, 9, NA, NA, NA, N…
$ Deaths_Multiracial           <dbl> 4, NA, 13, NA, NA, 693, 186, 353, NA, NA,…
$ Deaths_Other                 <dbl> 1, 300, 203, NA, 465, 1103, 38, 38, 0, 15…
$ Deaths_Unknown               <dbl> 7, 2871, 38, NA, 1099, 1454, 337, 126, 19…
$ Deaths_Ethnicity_Hispanic    <dbl> 13, 137, 186, NA, 4684, 24402, 1204, 782,…
$ Deaths_Ethnicity_NonHispanic <dbl> 280, 6083, 5133, NA, 10545, 28268, 4445, …
$ Deaths_Ethnicity_Unknown     <dbl> 12, 3928, 0, NA, 1099, 1454, 337, 126, 19…
$ Hosp_Total                   <dbl> 1293, NA, NA, NA, 57907, NA, NA, NA, NA, …
$ Hosp_White                   <dbl> 423, NA, NA, NA, 26710, NA, NA, NA, NA, N…
$ Hosp_Black                   <dbl> 45, NA, NA, NA, 2479, NA, NA, NA, NA, NA,…
$ Hosp_Latinx                  <dbl> NA, NA, NA, NA, 18730, NA, NA, NA, NA, NA…
$ Hosp_Asian                   <dbl> 116, NA, NA, NA, 1015, NA, NA, NA, NA, NA…
$ Hosp_AIAN                    <dbl> 336, NA, NA, NA, 4496, NA, NA, NA, NA, NA…
$ Hosp_NHPI                    <dbl> 126, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ Hosp_Multiracial             <dbl> 67, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ Hosp_Other                   <dbl> 54, NA, NA, NA, 2562, NA, NA, NA, NA, NA,…
$ Hosp_Unknown                 <dbl> 126, NA, NA, NA, 1915, NA, NA, NA, NA, NA…
$ Hosp_Ethnicity_Hispanic      <dbl> 66, NA, NA, NA, 18730, NA, NA, NA, NA, NA…
$ Hosp_Ethnicity_NonHispanic   <dbl> 939, NA, NA, NA, 37262, NA, NA, NA, NA, N…
$ Hosp_Ethnicity_Unknown       <dbl> 288, NA, NA, NA, 1915, NA, NA, NA, NA, NA…
$ Tests_Total                  <dbl> NA, NA, NA, NA, NA, 49646014, NA, NA, NA,…
$ Tests_White                  <dbl> NA, NA, NA, NA, NA, 9172498, NA, NA, NA, …
$ Tests_Black                  <dbl> NA, NA, NA, NA, NA, 1730660, NA, NA, NA, …
$ Tests_Latinx                 <dbl> NA, NA, NA, NA, NA, 9444459, NA, NA, NA, …
$ Tests_Asian                  <dbl> NA, NA, NA, NA, NA, 3980518, NA, NA, NA, …
$ Tests_AIAN                   <dbl> NA, NA, NA, NA, NA, 98894, NA, NA, NA, NA…
$ Tests_NHPI                   <dbl> NA, NA, NA, NA, NA, 222513, NA, NA, NA, N…
$ Tests_Multiracial            <dbl> NA, NA, NA, NA, NA, 74171, NA, NA, NA, NA…
$ Tests_Other                  <dbl> NA, NA, NA, NA, NA, 6354689, NA, NA, NA, …
$ Tests_Unknown                <dbl> NA, NA, NA, NA, NA, 18567612, NA, NA, NA,…
$ Tests_Ethnicity_Hispanic     <dbl> NA, NA, NA, NA, NA, 9444459, NA, NA, NA, …
$ Tests_Ethnicity_NonHispanic  <dbl> NA, NA, NA, NA, NA, 21633943, NA, NA, NA,…
$ Tests_Ethnicity_Unknown      <dbl> NA, NA, NA, NA, NA, 18567612, NA, NA, NA,…

### 2.2 Clean and wrangle data into a tidy format

In [41]:
# Select the columns
# Too many unuseful data, so only interested in Cases Total , white ,black, latinx,asian and their deaths.
Case_Death <- df %>% 
    #select(Cases_Total:Cases_Other, Deaths_Total:Deaths_Other, Hosp_Total:Hosp_Other)
    select(State, Cases_Total:Cases_Asian, Deaths_Total:Deaths_Asian)

glimpse(Case_Death)

Rows: 5,320
Columns: 11
$ State         <chr> "AK", "AL", "AR", "AS", "AZ", "CA", "CO", "CT", "DC", "D~
$ Cases_Total   <dbl> 59332, 499819, 324818, NA, 826454, 3501394, 435762, 2853~
$ Cases_White   <dbl> 18300, 160347, 207596, NA, 308453, 546630, 181669, 85469~
$ Cases_Black   <dbl> 1499, 82790, 50842, NA, 25775, 111279, 12637, 19651, 201~
$ Cases_Latinx  <dbl> NA, NA, NA, NA, 244539, 1509103, 119224, 41523, NA, 1453~
$ Cases_Asian   <dbl> 2447, 2273, 2913, NA, 11921, 186562, 6406, 3019, 914, 18~
$ Deaths_Total  <dbl> 305, 10148, 5319, NA, 16328, 54124, 5986, 7704, 1030, 14~
$ Deaths_White  <dbl> 127, 4730, 4171, NA, 8066, 16586, 3869, 5413, 105, 1036,~
$ Deaths_Black  <dbl> 9, 2223, 784, NA, 433, 3275, 191, 906, 773, 329, 4812, 5~
$ Deaths_Latinx <dbl> NA, NA, NA, NA, 4684, 24402, 1204, 782, 119, 80, 7325, 8~
$ Deaths_Asian  <dbl> 29, 24, 36, NA, 220, 6105, 115, 83, 14, 11, NA, 298, 33,~

#### Reasons to drop other columns 


Cases_Unknown               
Cases_Ethnicity_Hispanic    
Cases_Ethnicity_NonHispanic 
Cases_Ethnicity_Unknown     

Similarly, for

Deaths_Unknown               
Deaths_Ethnicity_Hispanic    
Deaths_Ethnicity_NonHispanic 
Deaths_Ethnicity_Unknown  

Hosp_Unknown               
Hosp_Ethnicity_Hispanic    
Hosp_Ethnicity_NonHispanic 
Hosp_Ethnicity_Unknown  

Also, 
for all Tests columns, 
- too many NA values
for all Hospital columns????

In [42]:
# Clean the NA values
Case_Death_Clean  <- Case_Death %>% 
#     filter(!is.na('') & !is.na('') & !is.na('')
    drop_na() 

glimpse(Case_Death_Clean)

Rows: 1,855
Columns: 11
$ State         <chr> "AZ", "CA", "CO", "CT", "DE", "GA", "IL", "MA", "MD", "M~
$ Cases_Total   <dbl> 826454, 3501394, 435762, 285330, 88354, 1023487, 1198335~
$ Cases_White   <dbl> 308453, 546630, 181669, 85469, 42730, 319208, 470333, 21~
$ Cases_Black   <dbl> 25775, 111279, 12637, 19651, 19768, 216068, 110701, 3534~
$ Cases_Latinx  <dbl> 244539, 1509103, 119224, 41523, 14532, 85460, 219967, 12~
$ Cases_Asian   <dbl> 11921, 186562, 6406, 3019, 1842, 17888, 27074, 16039, 88~
$ Deaths_Total  <dbl> 16328, 54124, 5986, 7704, 1473, 17906, 23014, 16417, 795~
$ Deaths_White  <dbl> 8066, 16586, 3869, 5413, 1036, 8939, 12202, 12022, 4078,~
$ Deaths_Black  <dbl> 433, 3275, 191, 906, 329, 5282, 3668, 1069, 2736, 319, 2~
$ Deaths_Latinx <dbl> 4684, 24402, 1204, 782, 80, 852, 3291, 1289, 727, 203, 6~
$ Deaths_Asian  <dbl> 220, 6105, 115, 83, 11, 298, 737, 414, 277, 259, 18, 12,~

In [58]:

# Or pivoting by cases? 
# Focus on one state WA
tidy_cdc <- Case_Death_Clean %>%
            filter(State == "WA") %>%
            summarize(p_white = sum(Cases_White) / sum(Cases_Total),
                     p_black = sum(Cases_Black) / sum(Cases_Total),
                     p_Asian = sum(Cases_Asian) / sum(Cases_Total),
                     p_latin = sum(Cases_Latinx) / sum(Cases_Total),
                     d_white = sum(Deaths_White) / sum(Deaths_Total),
                     d_black = sum(Deaths_Black) / sum(Deaths_Total),
                     d_Asian = sum(Deaths_Asian) / sum(Deaths_Total),
                     d_latin = sum(Deaths_Latinx) / sum(Deaths_Total))

tidy_cdc
# Pivoting by deaths? 

# group by races?

  p_white   p_black    p_Asian    p_latin   d_white   d_black    d_Asian
1 0.2707987 0.03417792 0.03536115 0.2178786 0.6844327 0.03123711 0.07455196
  d_latin
1 0.1250708

### 2.3 Plot the relevant raw data, tailoring your plot in a way that addresses your question.

In [29]:
# Plotting raw data

### 2.4 Compute estimates 

*Compute estimates of the parameter you identified across your groups. Present this in a table. If relevant, include these estimates in your plot.*

In [ ]:
# Summary statistics

## 3. Methods: Plan

### 3.1 What do you expect to find?

Text

### 3.2 What impact could such findings have?

Text

### 3.3 What future questions could this lead to?

Text

## 4. Reference

About the Racial Data Tracker
https://covidtracking.com/race/about